h1 {
    color: #4F9CF9;
    font-size: 64px;
    font-weight: 700;
    line-height: 77.45px;
    letter-spacing: -1.27px;
}

h2 {
    color: #212529;
    font-size: 72px;
    font-weight: 700;
    line-height: 87.14px;
    letter-spacing: -1.44px;
    white-space: break-spaces;
}

h4 {
    font-size: 36px;
    font-weight: 700;
    line-height: 43.57px;
    letter-spacing: -0.72px;
    white-space: break-spaces;
}