@font-face {
    color: red;
    font-family: "Inter/P3/Regular";
    src: url('./assets/fonts/Inter.ttf');
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 80px;
    line-height: 20px;
    letter-spacing: -0.32px;
    font-weight: 400;
}
