.footer {
    background-color: #043873;
    width: 1920px;
    height: 474px;
    padding: 140px 220px 32px 220px;
}
.info {
    width: auto;
    height: auto;
    display: flex;
    background-color: antiquewhite;
}