@media (min-width: 1400px) {
.left {
    width: 75px;
    height: 75px;
    background-color: #FFFFFF;
    background-image: url(../../../assets/Left-Arrow.png);
    background-position-x: -35px;
    background-position-y: -32px;
}
.right {
    width: 75px;
    height: 75px;
    background-color: #FFFFFF;
    background-image: url(../../../assets/Right-Arrow.png);
    background-position-x: -35px;
    background-position-y: -32px;
}

    
}
@media (min-width: 1920px) {
.left {
    width: 75px;
    height: 75px;
    background-color: #FFFFFF;
    background-image: url(../../../assets/Left-Arrow.png);
    background-position-x: -35px;
    background-position-y: -32px;
}
.right {
    width: 75px;
    height: 75px;
    background-color: #FFFFFF;
    background-image: url(../../../assets/Right-Arrow.png);
    background-position-x: -35px;
    background-position-y: -32px;
}

    
}


