@media screen and (min-width: 1400px) {
    .section {
    left: -1px;
    width: 100%;
    padding: 140px 32px 140px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.imgContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1337px;
}

}
@media screen and (min-width: 1920px) {
.section {
    padding: 140px 220px 140px 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.imgContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1482px;
}


}