.button {
    display: flex;
    align-items: center;
    height: 23px;
    border-radius: 0;
    border: 0;
    padding: 0;
    gap: 10px;
}

.text {
    font-family: 'DM Sans';
    font-optical-sizing: auto;
    font-size: 18px;
    color: #4F9CF9;
}
.vector {
    color: #4F9CF9 ;
}
